@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-fade-in: fade-in 0.2s forwards linear;
}

body {
  @apply min-h-[1500px];
}

.container {
  @apply mx-auto px-4;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility left-center {
  @apply left-1/2 -translate-x-1/2;
}

@utility top-center {
  @apply top-1/2 -translate-y-1/2;
}

.your-progress-tip {
  @apply absolute bottom-[calc(100%+1rem)] w-8 h-8 rounded-full border-2 border-[#C8C8C8] flex-center text-[#485293] text-xs p-1;
}

.your-progress-tip::after {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-color: #c8c8c8;
  top: calc(100% + 0.3rem);
}

.your-progress-tip[data-percent]::before {
  content: attr(data-percent);
  position: absolute;
  top: calc(100% + 1.8rem);
  color: #485293;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
